venv
__pycache__/
*.pyo
*.pyc
*.pyi
.idea
.vscode
.pytest_cache
.DS_Store
local.py
.coverage
htmlcov
kubefwd
docker-compose.override.yml
.venv/
.env
.eggs/
.tox/
.nox/
.mypy_cache
*.egg-info
build/
dist/
.cr.yandex

*.sentinel

*_pb2.py
*_grpc.py

# local database migrations to form schema.sql
database/local/*
!database/local/schema.sql
!database/local/0_changeme.sql
